* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
body{
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  position: relative;
  height: calc(1280px / 2);
  width: calc(720px/2);
  flex-direction: column;
}
.header{
  display: flex;
  height: calc(100px/2);
  width: inherit;
}
.photo{
  display: flex;
  height: 295px;
  width: inherit;
  position: relative;
}
.profile{
  display: flex;
  height: 100px;
  width: 100px;
  position: absolute;
  margin-left: 125px;
  margin-top: 130px;
}
.nombreusuario{
  display: flex;
  height: 25px;
  width: 100px;
  position: absolute;
  margin-left: 125px;
  margin-top: 245px;
}
.info{
  display: flex;
  height: 100px;
  width: inherit;
}
.about{
  display: flex;
  height: 50px;

  flex-direction: row;
  width: inherit;
}
.bout, .photos, .friends {
  flex: 1;
}
.timeline{
  display: flex;
  height: 90px;
  width: inherit;
}
.menu{
  width: inherit;
  height: calc(87px/2);
  position: absolute;
  bottom: 0px;

}
.scroll{
  height: calc(1080px/2);
  overflow-y: scroll;
}
.stories{
    display: flex;
    height: 80px;
    width: inherit;
}
.write{
  display: flex;
  height: 50px;
  width: inherit;
}
.minimenu{
  display: flex;
  height: 30px;
  width: inherit;
}
.live, .photo2, .here{
  flex: 1;
}
.menuphoto{
  display: flex;
  height: 300px;
  width: inherit;
  flex-direction: column;
}
.namephoto{
  display: flex;
   height: 50px;
   width: inherit;
   justify-content: flex-start;
}
.description{
  height: 50px;
  width: inherit;
}
.uploadimage{
  height: 200px;
  width: inherit;
}
.stats{
  height: 35px;
  width: inherit;
}
.sharing{
  display: flex;
  height: 20px;
  width: inherit,

}
.like, .comment, .share{
  flex: 1;
  text-align: center;
}
.profilephoto{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
.name{
  height: 18px;
  width: 50px;
  margin-left: 8px;
}
.namephoto1{
  display: flex;
  width: calc(150px/2);
  height: inherit;
  justify-content: center;
  align-items: center;
}.namephoto2{
  display: flex;
  width: calc(570px/2);
  height: inherit;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}
.fecha{
  height: 13px;
  width: 50px;
  margin-left: 8px;
}
