* {
  margin: 0;
  padding: 0;
  /*border: 1px solid black;*/
}
body{
  display: flex;
  justify-content: center;
}
.graycolorbackground{
  background: #DCDDE1;
}
.bluecolorbackground{
  background: #4A67AD;
}
.graycolor{
  color: #DCDDE1;
}
.bluecolor{
  background: #4A67AD;
}
.app {
  display: flex;
  position: relative;
  height: calc(1280px / 2);
  width: calc(720px/2);
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}
.header{
  display: flex;
  /*height: calc(100px/2);*/
  height: 10%;
  width: inherit;
  background: #4A67AD;
  border: none;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
.yourname{
  width: 270px;
  height: 33px;
  background: #354779;
  border-radius: 5px;
  position: relative;
  bottom: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchname{
  color: #8393A9;
  width: 80px;
  text-align: center;
}
.photo{
  display: flex;
  height: 295px;
  width: inherit;
  position: relative;
  background: #FFFFFF;
  justify-content: center;
  border: none;
}
.relleno{
  width: 100%;
  height: 60%;
  z-index: 30;
  background: #DCDDE1;
  border: none;
}
.profile{
  display: flex;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 130px;
  align-self: center;
  /*margin-left: 125px;
  margin-top: 130px;*/
  z-index: 60;
  background: #DCDDE1;
  border: .5px solid black;
}
.nombreusuario{
  display: flex;
  height: 25px;
  width: auto;
  position: absolute;
  top: 245px;
  align-self: center;
  /*margin-left: 125px;
  margin-top: 245px;*/
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  z-index: 60;
  border: none;
}
/*.name2{
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  height: auto;
  width: auto;
  border: none;
}*/
.info{
  display: flex;
  height: 100px;
  width: inherit;
  flex-direction: column;
  border: none;
}
.more{
  height: 70%;
  display: flex;
  flex-direction: row;
  border: none;
}
.morefriends,
.morefollowing,
.moremessage,
.moredots{
  width: 25%;
  /*border: .5px solid #DCDDE1;*/
  border-bottom: 1.5px solid #DCDDE1;
  border-top: 1.5px solid #DCDDE1;
}
.work{
  height: 30%;
  display: flex;
  flex-direction: row;
  position: relative;
  border: none;
}
.dibujito{
  width: 50px;
  border: none;
}
.trabaja{
  color: #9498A2;
  position: relative;
  left: 5px;
  padding-top: 4px;
  border: none;
}
.trabajo{
  color: #394351;
  font-weight: bold;
  position: relative;
  left: 8px;
  padding-top: 4px;
  border: none;
}
.about{
  display: flex;
  height: 50px;
  background: #F6F7F9;
  flex-direction: row;
  width: inherit;
  border: none;
}
.bout, .photos, .friends {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.parrafo{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #394351;
  border: none;
}
.divisor{
  height: 8px;
  width: auto;
  border: none;
  background: #DCDDE1;
}
.timeline{
  display: flex;
  height: 90px;
  width: inherit;
  border: none;
}
.carita{
  width: 14%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  border: none;
}
.carita2{
  position: absolute;
  width: 32px;
  height: 32px;
  top: 8px;
  right: 3px;
  background: #DCDDE1;
  border: none;
}
.writing{
  width: 86%;
  position: relative;
  border: none;
}
.escribe{
  position: absolute;
  top: 10px;
  left: 4px;
  color: #9498A2;
  border: none;
}
.menu{
  width: inherit;
  height: 5%;
  border-top: 2.5px solid #DCDDE1;
  /*height: calc(87px/2);*/
  /*position: absolute;
  bottom: 0px;*/
  display: flex;
  flex-direction: row;
}
.menu1,
.menu2,
.menu3,
.menu4{
  flex: 1;
  border: .5px solid #DCDDE1;
}
.scroll{
  /*height: calc(1080px/2);*/
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
}
.stories{
    display: flex;
    height: 80px;
    width: inherit;
    border: none;
    border-top: .5px solid #DCDDE1;
}
.storie1{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.bolita1{
  /*margin-left: 2px;*/
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: .5px solid #DCDDE1;
}
.bolita2{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #DCDDE1;
  border: none;
}
.storie2{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: none;
}
.write{
  display: flex;
  height: 90px;
  width: inherit;
  border: none;
}
.minimenu{
  display: flex;
  height: 30px;
  width: inherit;
  text-align: center;
  justify-content: center;
  border: none;
}
.parrafomenu{
  text-align: center;
  height: 20px;
  width: auto;
  margin-top: 3px;
  border: none;
  color: #9498A2;
}
.live, .photo2, .here{
  flex: 1;
  border-top: .5px solid #9498A2;
  border-bottom: .5px solid #9498A2;
}
.live{
  border-right: .5px solid #9498A2;
}
.here{
  border-left: .5px solid #9498A2;
}
.menuphoto{
  display: flex;
  height: 300px;
  width: inherit;
  flex-direction: column;
  border: none;
}
.namephoto{
  display: flex;
   height: 50px;
   width: inherit;
   justify-content: flex-start;
   border: none;
}
.description{
  height: 50px;
  width: inherit;
}
.uploadimage{
  height: 200px;
  width: inherit;
  background: #DCDDE1;
  border: none;
}
.stats{
  height: 35px;
  width: inherit;
  border: none;
}
.sharing{
  display: flex;
  height: 20px;
  width: inherit;
  border: none;
}
.like, .comment, .share{
  flex: 1;
  text-align: center;
  border: .5px solid #9498A2;
}
.profilephoto{
  height: 40px;
  width: 40px;
  background: #DCDDE1;
  border: none;
}
.name{
  height: 18px;
  width: 120px;
  margin-left: 1px;
  font-weight: bold;
  border: none;
}
.namephoto1{
  display: flex;
  width: calc(150px/2);
  height: inherit;
  justify-content: center;
  align-items: center;
  border: none;
}
.namephoto2{
  display: flex;
  width: calc(570px/2);
  height: inherit;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  border: none;
}
.fecha{
  height: 13px;
  width: 70px;
  margin-left: 1px;
  font-size: 8px;
  border: none;
  position: relative;
  bottom: 7px;
  color: #9498A2;
}
.description{
  border: none;
  position: relative;
}
.descripcion{
  border: none;
  position: relative;
  left: 9px;

}
.translation{
  border: none;
  position: relative;
  left: 9px;
  color: #9498A2;
}
.like,
.comment,
.share{
  color: #9498A2;
}
